@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qdyjb2');
  src:  url('fonts/icomoon.eot?qdyjb2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qdyjb2') format('truetype'),
    url('fonts/icomoon.woff?qdyjb2') format('woff'),
    url('fonts/icomoon.svg?qdyjb2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon-it:before {
  content: "\e902";
}
.icon-4chan:before {
  content: "\e900";
}
.icon-reddit:before {
  content: "\e901";
}

:root {
  --primary: #03060d;
  --primary-light: #091225;
  --secondary: #0d3058; 
  --secondary-dark: #082647; 
  --transparent: rgba(255, 255, 255, 0.08);
  --text: #fff;
  --text-hover: #cac9c9;
  --subtext: rgb(158, 158, 158);
  --title: rgb(201, 201, 201);
  --button: #cacaca;
  --button-hover: #adadad;
  --button-text: rgb(70, 70, 70);
}

* {
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
  background: var(--secondary);
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--button);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--button-text);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--button-hover);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--primary);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--button);
  border-top-color: var(--primary);
  border-bottom-color: var(--primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

#header {
  transition: all 0.5s;
  background: var(--primary);
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #233152;
}

#header.header-scrolled {
  border-color: var(--primary);
  box-shadow: 0px 2px 15px rgba(3, 6, 13, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: var(--text);
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 17px;
  font-weight: 600;
  color: var(--text);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: var(--text-hover);
}

.navbar .btn-cart-container {
  position: relative; 
  padding: 0px; 
  margin-left: 20px;
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }
}


#home {
  height: 100%;
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

#home h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: var(--text);
}

#home h2 {
  color: var(--subtext);
  margin: 10px 0 0 0;
  font-size: 22px;
}

#home .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: var(--button-text);
  background: var(--button);
}

#home .btn-get-started:hover {
  background: var(--button-hover);
}

#home .logo {
  width: 50%;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background: var(--primary-light);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--title);
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--subtext);
}


.about .icon-boxes {
  margin-top: 20px;
}

.about .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, var(--primary-light), var(--secondary-dark));
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  width:100%;
}

.about .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: var(--text);
  transition: 0.3s;
}

.about .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.about .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: var(--subtext);
}

.about .icon-box:hover {
  transform: scale(1.08);
}

.about .icon-box:hover .title a {
  color: var(--text-hover);
}


@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


#btn-cart {
  background-color: var(--button);
  color: var(--button-text);
  padding: 18px 6px 18px 0px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#btn-cart i {
  font-size: 26px;
}

#btn-cart:hover {
  background-color: var(--button-hover);
}

#btn-cart .cart-quantity {
  position: absolute;
  bottom: -2px;
  left: -3px;
  padding: 0.2px 4px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  border-radius: 50%;
  background-color: rgb(192, 17, 17);
  color: #fff;
}


#cart .modal-content{
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

#cart .modal-header{
  border-bottom: 2px solid rgb(146, 146, 146);
}

#cart .modal-footer{
  border-top: 2px solid rgb(163, 163, 163);
}

#cart table {
  width: 100%;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

#cart .cart-close {
  background: rgba(221, 0, 0, 0.3);
  color: rgb(180, 0, 0);
  font-size: 26px;
  padding: 4px 8px 0px 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  float: right;
  margin-bottom: 15px;
  margin-right: 5px;
}

#cart .cart-close:hover {
  background: rgba(221, 0, 0, 0.5);
}

#cart .cart-close-single {
  background: rgba(221, 0, 0, 0.3);
  color: rgb(180, 0, 0);
  font-size: 22px;
  padding: 3px 6px 1px 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}

#cart .cart-close-single:hover {
  background: rgba(221, 0, 0, 0.5);
}

#cart .cart-checkout {
  background: var(--button);
  color: var(--button-text);
  font-size: 20px;
  padding: 5px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#cart .cart-checkout:hover {
  background: var(--button-hover);
}

#cart .contact-container {
  margin-top: 5px;
}

#cart .btn-contact {
  background: var(--secondary);
  color: var(--text);
  border-radius: 10px;
  padding: 6px 10px 2px 10px;
  font-size: 24px;
  border: none;
  transition: 0.3s;
}

#cart .btn-contact:hover {
  background: var(--secondary-dark);
}

#cart .btn-contact.active {
  background: var(--button);
  color: var(--button-text);
}

#cart .btn-contact.active:hover {
  background: var(--button-hover);
}

#cart #contact-input {
  margin-top: -4px;
  width: 62%;
  margin-left: 20px;
  background-color: var(--transparent);
  border-radius: 12px;
  border: 0;
  color: var(--text);
  font-size: 18px;
  height: 44px;
  padding: 8px 20px;
  outline: 0;
}

#cart table {
  font-size: 18px;
}

#cart .cart-main {
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
}

#cart .cart-main td {
  padding: 15px 0px;
}

#cart .cart-main td:first-child {
  font-weight: 600;
  padding: 15px 30px 15px 0px;
}

#cart .cart-main td:nth-child(2), #cart .cart-main td:nth-child(3) {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);

}

#cart .cart-details {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  border-left: 2px white solid;
  border-right: 2px white solid;
}

#cart .cart-details td:first-child {
  text-align: left;
  padding-left: 60px;
}

#cart .cart-total {
  font-weight: 600;
  margin-top: 10px;
  border-bottom: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
}

#cart .cart-total td:first-child, #cart .cart-promotion td:first-child {
  text-align: left;
  padding: 15px 0px 15px 50px;
}

#cart .cart-promotion {
  font-weight: 600;
  border: 2px white solid;
}

#cart #cart-total {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 30px;
}


.pricing .promo {
  text-align: center;
  background-image: linear-gradient(to bottom right, var(--primary-light), var(--secondary-dark));
  border-radius: 25px;
  padding: 25px 0px;
}

.pricing .promo h4 {
  color: var(--title);
  font-size: 25px;
  font-weight: 600;
}

.pricing .promo .subtitle {
  padding: 0px 50px;
  color: var(--subtext);
  font-size: 18px;
}

.pricing .promo .description {
  color: var(--subtext); 
  text-decoration: italic;
}

.pricing .card-body {
  border: none;
  background: var(--primary-light);
}

.pricing .option {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  background-image: linear-gradient(to bottom right, var(--primary-light), var(--secondary-dark));
  color: var(--text);
  text-align: center;
  padding: 30px 50px;
  border-radius: 25px;
  transition: 0.3s;
}

.pricing .option:hover {
  color: var(--text-hover);
}

.pricing .details {
  text-align: left;
  color: var(--text);
  margin: 60px 60px 20px 60px;
  padding: 0px 15px;
}

.pricing input {
  background-color: var(--transparent);
  border-radius: 12px;
  border: 0;
  color: var(--text);
  outline: 0;
  padding: 2px 0px 2px 5px;
}

.pricing .price-radio {
  background: var(--secondary);
  color: var(--text);
  border-radius: 10px;
  padding: 4px 8px;
  border: none;
  margin: 0px 5px;
  transition: 0.3s;
}

.pricing .price-radio:hover {
  background: var(--secondary-dark);
}

.pricing .price-radio.active {
  background: var(--button);
  color: var(--button-text);
}

.pricing .price-radio.active:hover {
  background: var(--button-hover);
}

.pricing .details-row {
  margin: 15px 0px
}

.pricing .cart-add {
  background: var(--button);
  border: none;
  color: var(--button-text);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.pricing .cart-add:hover {
  background: var(--button-hover);
}

.pricing .fixed-total {
  color: var(--text-hover);
  font-size: 32px;
  font-weight: 700;
}

#calc1-1, #calc1-2, #calc1-3, #calc1-4 {
  float: right;
  color: rgba(255, 255, 255, 0.6);
}

#total-sum {
  font-size: 25px;
  float: right;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}


.contact .opt-box {
  text-align: center;
}

.contact .opt {
  padding: 20px;
  width: 40%;
  border: none;
  font-size: 18px;
  font-weight: 600;
  background: var(--secondary);
  color: var(--text);
  transition: 0.3s;
}

@media (min-width: 1440px) {
  .contact .opt {
    width: 25%;
  }
}

@media (max-width: 991px) {
  .contact .opt {
    width: 49%;
  }
}

.contact .opt:hover {
  background: var(--secondary-dark);
}

.contact .opt.active {
  background: var(--button);
  color: var(--button-text);
}

.contact .opt.active:hover {
  background: var(--button-hover);
}

.contact .opt-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.contact .opt-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.contact .form-container {
  background-image: linear-gradient(to bottom right, var(--primary-light), var(--secondary-dark));
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.contact .input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.contact .textarea-container {
  position: relative;
  height: 85%;
  width: 100%;
}

.contact .ic1 {
  margin-top: 40px;
}

.contact .ic2 {
  margin-top: 30px;
}

.contact .input {
  background-color: var(--transparent);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--text);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.contact .cut {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.contact .cut-short {
  width: 50px;
}

.contact .input:focus ~ .cut,
.contact .input:not(:placeholder-shown) ~ .cut {
  background-color: #15172b;
  transform: translateY(8px);
}

.contact .placeholder {
  color: #65657b;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.contact .input:focus ~ .placeholder,
.contact .input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.contact .input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.contact .input:focus ~ .placeholder {
  color: var(--text-hover);
}

.contact .pos-container {
  text-align: center;
}

.contact .pos-app {
  background: var(--secondary);
  color: var(--text);
  border-radius: 10px;
  padding: 7px 9.5px 3px 10.5px;
  font-size: 22px;
  border: none;
  transition: 0.3s;
}

.contact .pos-app:hover {
  background: var(--secondary-dark);
}

.contact .pos-app.active {
  background: var(--button);
  color: var(--button-text);
}

.contact .pos-app.active:hover {
  background: var(--button-hover);
}

.contact .container-q {
  margin: 0 auto;
}

.contact .ta-q {
  height: 237px;
}

.contact .t-pos {
  margin-bottom: 10px;
  font-weight: 600;
}

.contact .submit-container {
  text-align: center;
}

.contact .submit {
  background-color: var(--button);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--button-text);
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  font-weight: 600;
  outline: 0;
  text-align: center;
  width: 50%;
  transition: 0.3s;
}

.contact .submit:hover {
  background-color: var(--button-hover);
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.breadcrumbs {
  padding: 15px 0;
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #1a5e90;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}


#footer {
  color: var(--text);
  font-size: 14px;
  background: var(--primary);
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer .copyright {
  padding-top: 10px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--button);
  color: var(--button-text);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: var(--button-hover);
  text-decoration: none;
}
